In [2]:
import pandas as pd

df = pd.read_csv('../outputs/master_monthly.csv')


df

,month_year,state,district,pincode,age_0_5,age_5_17,age_18_greater,age_18_plus,enrol_total,demo_age_5_17,...,bio_age_17_plus,bio_total,date_obj,assi,upr,assi_lag1,assi_mom,roll_mean_6,roll_std_6,vol6
0,2025-03,Andaman & Nicobar Islands,Andamans,744101,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,16.0,2025-03-01,3.2,16.0,NaN,0.0,NaN,NaN,0.000000
1,2025-03,Andaman And Nicobar Islands,Nicobar,744301,0.0,0.0,0.0,0.0,0.0,32.0,...,0.0,101.0,2025-03-01,29.8,133.0,NaN,0.0,NaN,NaN,0.000000
2,2025-03,Andaman And Nicobar Islands,Nicobar,744302,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,15.0,2025-03-01,3.0,15.0,NaN,0.0,NaN,NaN,0.000000
3,2025-03,Andaman And Nicobar Islands,Nicobar,744303,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,46.0,2025-03-01,9.2,46.0,NaN,0.0,NaN,NaN,0.000000
4,2025-03,Andaman And Nicobar Islands,Nicobar,744304,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,16.0,2025-03-01,3.2,16.0,NaN,0.0,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231799,2025-12,Westbengal,Hooghly,712233,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2025-12-01,0.2,1.0,0.5,-0.2,0.175,0.236291,0.201099
231800,2025-12,Westbengal,Hooghly,712247,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,2025-12-01,0.5,0.0,0.0,0.5,0.625,0.478714,0.294593
231801,2025-12,Westbengal,Hooghly,712258,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2025-12-01,0.0,0.0,0.0,0.0,0.000,0.000000,0.000000
231802,2025-12,Westbengal,Hooghly,712305,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2025-12-01,0.2,1.0,0.2,0.0,0.100,0.115470,0.104973
231803,2025-12,Westbengal,Howrah,711316,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2025-12-01,0.0,0.0,0.0,0.0,0.000,0.000000,0.000000

In [4]:
pd.read_csv('../outputs/tables/top10_predicted_hotspots_next_month.csv')

,state,district,pincode,forecast_month,forecast_assi,method
0,West Bengal,Dinajpur Uttar,733210,2025-08,1356.5,3-Month MA Baseline